.mapContainer {
    height: 400px; 
    width: 100%;
    margin-top: 15px;
    border-radius: 6px;
    overflow: hidden; 
}

.map {
    height: 100%;
    width: 100%;
}

.map .leaflet-popup-content-wrapper {
    background-color: #2e3440; 
    color: #eceff4;
    border-radius: 6px;
}
.map .leaflet-popup-content {
    margin: 13px 20px;
}
.map .leaflet-popup-tip {
    background-color: #2e3440;
}