.appHeader {
    background-color: #434c5e;
    color: #eceff4;
    padding: 1.5rem 2rem;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: fixed;
    top: 1rem;          
    left: 50%;
    transform: translateX(-50%);
    width: 70%;     
    z-index: 1000;  
}

.logoArea {
    display: flex;
    align-items: center;
}

.logoIcon {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.logoText {
    font-size: 1.5rem;
    font-weight: bold;
    color: #eceff4;
    text-decoration: none;
}

.logoText:hover{
    color: #eceff4;
}

.navActions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.buttonLink {
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    text-decoration: none;
    color: #eceff4;
    display: flex;
    align-items: center;
    font-weight: 500;
    transition: background-color 0.2s ease-in-out;
    font-size: 15px;
}

.buttonText { 
    display: inline;
}

.buttonLink .icon {
    width: 22px;
    height: 22px;
    margin-right: 0.5rem;
}

.listarRotasBtn {
    background-color: #5e81ac;
}

.listarRotasBtn:hover {
    background-color: #3574b3;
    color: #eceff4;
}

.novaRotaBtn {
    background-color: #8dbb64;
}

.novaRotaBtn:hover {
    background-color: #70b63e;
    color: #eceff4;
}

.userInfo {
    font-size: 15px;
    color: #eceff4;
    align-items: center;
    display: flex;
}

.userIcon {
    width: 22px;
    height: 22px;
    margin-right: 0.5rem;
}

.groupActions {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logoutButton {
    background-color: #bf616a; 
}
.logoutButton:hover {
    background-color: #bd441f; 
}
