.inputField {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #4c566a; 
    background-color: #2e3440; 
    color: #eceff4;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1em;
}
.inputField::placeholder {
    color: #eceff481;
}